<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-circle" class="iconstyle1" style="color: #4895CE;
        ;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Withdrawal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-group" [formGroup]="formGroup">
    <ion-label>
      Account Number
    </ion-label>
    <app-account-input [(value)]="accountNo" formControlName="accountNo"></app-account-input>
    <!-- <ion-input [(ngModel)]="accountNo" placeholder="Account Number" style="border: 1px solid black; border-radius: 2px;"></ion-input> -->
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-button expand="block" [disabled]="formGroup.invalid || loadingAccountName" (click)="submit()">
    <span *ngIf="!loadingAccountName">Proceed</span>
    <span *ngIf="loadingAccountName">Checking account number ...</span>
  </ion-button>
</ion-footer>
