<ion-content>
  <form name="depositForm" id="depositForm" #depositForm="ngForm">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <img src="assets/images/back_btn.png" style="width: 2rem;">          
        </ion-button>
      </ion-buttons>
      <ion-title>Verification</ion-title>
    </ion-toolbar>
  </ion-header>

  <div  class="page-wrapper">
    <ion-row style="position: relative;">
      <ion-row>
        <span style="text-align: center;">
          Place your thumb on the fingerprint scanner to verify your account
        </span>
      </ion-row>
      <ion-img src="assets/images/fingerprint.png"></ion-img>
      <ion-row style="padding-top: 200px;">
        <ion-icon name="finger-print-outline" style="font-size: 110px; position: absolute; top: 50%;
        left: 50%; transform: translate(-50%, -50%);"></ion-icon>
      </ion-row>
    </ion-row>
    

    
  
    </div>