
<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <img src="assets/images/back_btn.png" style="width: 2rem;">    
        </ion-button>
      </ion-buttons>
      <ion-title>Verification</ion-title>
    </ion-toolbar>
  </ion-header>
<div style="padding: 30px"></div>
  <div class="main">

<div class="page-wrapper" style="margin: 0px;width: 100%;min-height: 200px;">
  <div style="padding: 10px;"></div>
  <span *ngIf="!startSpinner && !processCompleted" style="display:flex;justify-content: center;color: #ffff; font: size 12px;text-align: center;">
    Place your thumb on the fingerprint print scanner to verify your account
  </span>
  <div style="padding: 5px;"></div>
    <div style="margin: 5px;display: flex;justify-content: center;" >
      <ion-spinner name="bubbles" *ngIf="startSpinner" ></ion-spinner>
      <div *ngIf="!startSpinner && !processCompleted">
      <img src="assets/images/fingerprint.png" style="width: 9rem;"> 
      </div>  
      <div *ngIf="processCompleted">
        <img src="assets/images/trx_successful.png" style="width: 5rem;">   
      </div>
    </div>

    <div style="padding: 10px;"></div>
    <div style="margin: 5px;">
      <ion-label style="display:flex;justify-content: center;font-size: 16px; font-weight: normal;text-align: center; color:#ffff">
        <span *ngIf="processCompleted">
          Biometric verified Successfully
        </span>
        <span *ngIf="!processCompleted && !startSpinner">
       
        </span>
        <span *ngIf="!processCompleted && startSpinner">
          Biometric Captured
        </span>
      </ion-label>
    </div>
  </div>
  </div>


  
</ion-content>

<ion-footer class="ion-no-border justifyCenter" >
  <img src="assets/images/dashboard_upper_logo.png" style="width: 7rem;height:1rem">
</ion-footer>