.title-value{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    color: #000000;
}

.title{
    font-weight: 16px;
    font-weight: 400;
}

.value{
    font-size: 24px;
    font-weight: bold;
}

.form-group{
    padding: 5px;
}

.form-group > ion-input{
    margin-top: 10px;
}