<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-circle" class="iconstyle1" style="color: #4895CE;
        ;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Depositor's Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-group">
    <ion-label>
      Full Name
    </ion-label>
    <ion-input placeholder="Full Name"></ion-input>
  </div>
  <div class="form-group">
    <ion-label>
      Phone number
    </ion-label>
    <ion-input placeholder="Phone number"></ion-input>
  </div>
  <div class="form-group">
    <ion-label>
      Email
    </ion-label>
    <ion-input placeholder="Email"></ion-input>
  </div>
  <div class="form-group">
    <ion-label>
      Comments
    </ion-label>
    <ion-textarea rows="6" placeholder="Comments"></ion-textarea>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button expand="block" [routerLink]="['/deposit/confirm']">Proceed</ion-button>
</ion-footer>