

<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <img src="assets/images/back_btn.png" style="width: 2rem;">    
        </ion-button>
      </ion-buttons>
      <ion-title>Depositor's Details</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="page-wrapper" >
  <form [formGroup]="depositorForm">
    <div class="form-group">
      <ion-label>
        Full Name *
      </ion-label>
      <ion-input placeholder="Full Name" formControlName="depositorFullname" [(ngModel)]="depositObj.depositorFullname" name="depositorFullname" id="depositorFullname" required></ion-input>
    </div>
    <div class="form-group">
      <ion-label>
        Phone number  *
      </ion-label>
      <ion-input type="tel" placeholder="Phone number" formControlName="depositorPhoneNumber" [(ngModel)]="depositObj.depositorPhoneNumber" name="depositorPhoneNumber" id="depositorPhoneNumber" required></ion-input>
    </div>
    <div class="form-group">
      <ion-label>
        Email
      </ion-label>
      <ion-input type="email" placeholder="Email" formControlName="depositorEmail" [(ngModel)]="depositObj.depositorEmail" name="depositorEmail" id="depositorEmail"></ion-input>
    </div>
    <div class="form-group">
      <ion-label>
        Narration
      </ion-label>
      <ion-textarea rows="6" formControlName="narration" placeholder="Narration" [(ngModel)]="depositObj.narration" name="narration" id="narration"></ion-textarea>
    </div>
  </form>
</div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button (click)="submit()" [disabled]="!depositorForm.valid" expand="block">Proceed</ion-button>
</ion-footer>