<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <img src="assets/images/back_btn.png" style="width: 2rem;">          
        </ion-button>
      </ion-buttons>
      <ion-title>Select Period</ion-title>
    </ion-toolbar>
  </ion-header>

  <div  class="page-wrapper" style="display: flexbox; align-items: center; justify-items: center; background-color: rgb(0,0,0,.2);">
    <!-- <div style="width: 100%;border: 1px solid rgba(255, 255, 255, .3);;border-radius: 4px; padding:5px;margin-top:10px;"> -->
      <span style="font-size: 14px; text-align: center;">Select the duration of your statement</span><br>
        <ion-button fill="clear" routerLink="statement" shape="round" expand="block" class="my-button">
          Past 3 Months
        </ion-button>
        <div style="margin: 13px;"></div>
        <ion-button fill="clear" routerLink="statement" shape="round" expand="block" class="my-button">
          Past 6 Months
        </ion-button>
      <!-- </div> -->
      </div>
    <div class="page-wrapper" style="display: flexbox; align-items: center; justify-items: center; background-color: rgb(0,0,0,.2);">
      <span style="font-size: 14px; text-align: center;">Or choose custom dates:</span><br>
      <ion-button fill="clear" shape="round" expand="block" class="my-button">
       From
      </ion-button>
      <div style="margin: 13px;"></div>
      <ion-button fill="clear" shape="round" expand="block" class="my-button">
       To
      </ion-button>
  
  </div>

  <div style="text-align:center;z-index:1000; width:100%;">
    <div style="padding-top:20px;"></div>
    <ion-button routerLink="statement" color="light" shape="round" style="color: #000000; font-weight: bold; width: 187px;">
      PROCEED
    </ion-button>
    </div>
