<ion-header>
  <ion-toolbar>
    <ion-title>confirm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="title-value">
        <span class="title">Account Name</span>
        <span class="value">Oreoluwa Uche H.</span>
      </div>
      <div class="title-value">
        <span class="title">Account Number</span>
        <span class="value">010101010101</span>
      </div>
      <div class="title-value">
        <span class="title">Amount</span>
        <span class="value">1000</span>
      </div>
    </ion-card-content>
  </ion-card>


  <div>
    <ion-button>Cancel</ion-button>
    <ion-button (click)="submit()">Proceed</ion-button>
  </div>
</ion-content>

<app-processing 
  *ngIf="showProcessing"
  (buttonClick)="processingButtonClicked()"
  [processCompleted]="processCompleted"
  >
  <span processed-title>
    Generate Receipt
  </span>
  <span processed-detail>
    Please collect cash from teller
  </span>
  <span processing-title>
    Request Submitted
  </span>
  <span processing-detail>
    Please hold on for authentication
  </span>
</app-processing>