
<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <img src="assets/images/back_btn.png" style="width: 2rem;">    
        </ion-button>
      </ion-buttons>
      <ion-title>Withdrawal Summary</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card style="margin: 12px; background-color: rgba(0,0,0, 0.38);color: #fff;">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" style="border-bottom:1px solid rgb(255,255,255,0.20);">
          <span style="font-size: 16px; font-weight: normal;">Account Details:</span>
        </ion-col>         
        </ion-row>
      </ion-grid>

      <ion-grid >
        <ion-row  >
          <ion-col size="12" style="border-bottom:1px dashed rgb(255,255,255,0.20);">
            <span style="font-size: 14px; font-weight: normal;">{{withdrawal.accountName}} </span><br>
            <span style="font-size: 14px; font-weight: normal;">{{withdrawal.accountNo}}</span>
          </ion-col>         
        </ion-row>
      </ion-grid>

      <ion-grid >
        <ion-row>
          <ion-col size="12"  style="border-bottom:1px solid rgb(255,255,255,0.20);">
            Amount: <br>
            <span style="font-size: 16px; font-weight: bold;">&#8358; {{withdrawal.amount | number: '.2'}}</span> <br>
           
          </ion-col>
       
        </ion-row> 
        
      </ion-grid>
    </ion-card-content>
  </ion-card>



  <div>
    
  </div>
  <ion-row>
    <ion-col size="6">
      <ion-button style="color: #fff;"   shape="round" expand="block" (click)="goBack()"  fill="outline">
        Edit
      </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="submit()"  shape="round" fill="solid" expand="block" class="btnStyle">
          Proceed
        </ion-button>
      </ion-col>
  </ion-row>
</ion-content>



<app-processing 
  *ngIf="showProcessing"
  (buttonClick)="processingButtonClicked()"
  [processCompleted]="processCompleted"
  >
  <span processed-title style="display: flex;justify-content: center;color: #fff;text-align: center;font-weight: normal;align-items: center;">
    <!-- Print Receipt -->
  </span>
  <span processed-detail style="display: flex;justify-content: center;color: #fff;text-align: center;font-weight: normal;align-items: center;">
    Please take your cash
  </span>
  <span processing-title style="display: flex;justify-content: center;color: #fff;text-align: center;font-weight: normal;align-items: center;">
    Please hold on for confirmation
  </span>
  <span processing-detail style="display: flex;justify-content: center;color: #fff;text-align: center;font-weight: normal;align-items: center; font-size: 12px;">
 Your Transaction is beign processed
  </span>
</app-processing>