<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <img src="assets/images/back_btn.png" style="width: 2rem;">          
        </ion-button>
      </ion-buttons>
      <ion-title>Bank Balance</ion-title>
    </ion-toolbar>
  </ion-header>

  <div  class="page-wrapper" style="display: flexbox; align-items: center; justify-items: center;">
    <div style="width: 100%;border: 1px solid rgba(255, 255, 255, .3);;border-radius: 4px; padding:5px;margin-top:10px; height: 100px;">
      <div style="position: absolute; margin-top: 20px; overflow:auto;">
          <span>Account Name:</span><br>
          <ion-label style=" font-weight: 700; font-size: 18px;">{{depositObj.accountName}} </ion-label>
      </div>
    </div>

    <div style="position: relative; height: 100px; width: 100%; border: 1px solid rgba(255, 255, 255, .3); border-radius: 4px; padding:5px;margin-top:10px; text-align: center;">
      <span>Account Balance:</span><br>
      <ion-label class="centernow">{{depositObj.currencyCode}}{{depositObj.balance | number: '.2'}}</ion-label>

    </div>
    <div style="position: relative; height: 100px; width: 100%; border: 1px solid rgba(255, 255, 255, .3); border-radius: 4px; padding:5px;margin-top:10px; text-align: center;">
      <span>Book Balance:</span><br>
      <ion-label class="centernow">{{depositObj.currencyCode}}{{depositObj.bookbalance | number: '.2'}}</ion-label>

    </div>
  
  </div>

  <div>
    <div style="padding-top:10px;"></div>
    <ion-button routerLink="/selfservice" color="light" class="my-button" shape="round" style="color: #000000; font-weight: bold;">
      New Enquiry
    </ion-button>
    <ion-button fill="clear" routerLink="/dashbord" shape="round" expand="block" class="my-button"><ion-icon name="home-outline" style="font-size: 16px; padding: 3px;"></ion-icon>
      Back to Home
    </ion-button>
  </div>

  