ion-content{
    --background: url('/assets/images/dashboard_bg.png') 0 0/100% 100% no-repeat;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }
  
  .grpRadio{
    --background: transparent;
     --color:#fff;
  }
  