<ion-header>
  <ion-toolbar style="text-align: center;">
    Enquiries
  </ion-toolbar>
</ion-header>
<ion-content>
<div style="display: flex; margin-top: 50px">
  <div class="card">
    <div class="card-icon-section">
      <div class='card-icon-cover'>
        <ion-icon name="reader-outline" class="card-icon-svg"></ion-icon>
      </div>
    </div>
    <div class="card-title">
      Account Balance
    </div>
    <!-- <div class="card-title-detail" style="color: #FF7474;">
      Deposit money into your account
    </div> -->
  </div>

  <div class="card">
    <div class="card-icon-section">
      <div class='card-icon-cover'>
        <ion-icon name="square-outline"  class="card-icon-svg"></ion-icon>
      </div>
    </div>
    <div class="card-title">
      BVN details
    </div>
    <!-- <div class="card-title-detail" style="color: #AF89EE;">
      Withdraw money to your bank account
    </div> -->
  </div>
</div>

<div style="display: flex;">
  <div class="card">
    <div class="card-icon-section">
      <div class='card-icon-cover'>
        <ion-icon name="person-outline" class="card-icon-svg"></ion-icon>
      </div>
    </div>
    <div class="card-title">
      Account Officer
    </div>
    <!-- <div class="card-title-detail" style="color: #7CB599;">
      Check your account balance, transaction history, etc
    </div> -->
  </div>

  <div class="card">
    <div class="card-icon-section">
      <div class='card-icon-cover'>
        <ion-icon name="receipt-outline" class="card-icon-svg"></ion-icon>
      </div>
    </div>
    <div class="card-title">
      Generate statement
    </div>
    <!-- <div class="card-title-detail" style="color: #1F75E9;">
      Chat with our customer service, get your account manager information
    </div> -->
  </div>
</div>
</ion-content>