<ion-header>
  <ion-toolbar style="text-align: center;">
    Enquiries
  </ion-toolbar>
</ion-header>
<ion-content>
<div style="
display: flex;
height: calc(100vh - 110px);
justify-content: space-between;
flex-direction: column;
">
  <div class="card" (click)="goto('/customercare/balance')">
    <div>
      <div class="card-icon-section">
        <div class="card-icon-cover">
          <img src="/assets/images/account-balance.svg" />
        </div>
      </div>
      <div>
        <div class="card-title">Account Balance</div>
        <div class="card-title-detail">
          Check your account balance
        </div>
      </div>
    </div>
  </div>
<div class="card" (click)="goto('')">
    <div>
      <div class="card-icon-section">
        <div class="card-icon-cover">
          <img src="/assets/images/BVN-details.svg" />
        </div>
      </div>
      <div>
        <div class="card-title">BVN details</div>
        <div class="card-title-detail">
          Check your BVN information
        </div>
      </div>
    </div>
  </div>
<div class="card" (click)="goto('')">
    <div>
      <div class="card-icon-section">
        <div class="card-icon-cover">
          <img src="/assets/images/account officer.svg" />
        </div>
      </div>
      <div>
        <div class="card-title">Accout Officer</div>
        <div class="card-title-detail">
          Get contact details of your account officer
        </div>
      </div>
    </div>
  </div>
<div class="card" (click)="goto('/customercare/statement')">
    <div>
      <div class="card-icon-section">
        <div class="card-icon-cover">
          <img src="/assets/images/generate-statement.svg" />
        </div>
      </div>
      <div>
        <div class="card-title">Generate Statetment</div>
        <div class="card-title-detail">
          Get your account statement
        </div>
      </div>
    </div>
  </div>
</div>
</ion-content>