<ion-content [fullscreen]="true" style="background-color: #F5F6FA !important">
  <!-- <div style="" class="head-section">
    <img src="https://www.w3schools.com/howto/img_avatar.png" class="avatar">

    <span style="font-size: 20px; font-weight: 500;">
      Hi {{name}},
    </span>
    <span style="font-size: 16px; font-weight: 400;">What do you want to do today?</span>
  </div> -->



  <div style="padding-left: 20px !important">
    <img
      src="assets/images/lotus.svg"
      color="red"
      style="
        height: 30px;
        width: auto;
        filter: invert(62%) sepia(91%) saturate(2785%) hue-rotate(180deg)
          brightness(95%) contrast(87%);
      "
    />
  </div>

  <ion-slides #slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card style="width: 100%;">
        <img src="assets/images/placeads.jpg">
      </ion-card>

    </ion-slide>
    <ion-slide>
      <ion-card style="width: 100%;">
        <img src="assets/images/placeads.jpg">
      </ion-card>

    </ion-slide>
    <ion-slide>
      <ion-card style="width: 100%;">
        <img src="assets/images/placeads.jpg">
      </ion-card>
    </ion-slide>
    </ion-slides>
    <div style="padding: 5px;"></div>
  <div style="padding-left: 14px !important; margin-bottom: -20px;">What do you want to do today</div>

  <div
    style="
      display: flex;
      height: calc(100vh - 110px);
      justify-content: space-between;
      flex-direction: column;
    "
  >
    <div class="card" (click)="gotoDeposit()">
      <div>
        <div class="card-icon-section">
          <div class="card-icon-cover">
            <img src="/assets/images/deposit.svg" />
          </div>
        </div>
        <div class="card-text">
          <div class="card-title">Deposit</div>
          <div class="card-title-detail">Deposit money into an account</div>
        </div>
      </div>
    </div>

    <div class="card" (click)="gotoWithdrawal()">
      <div>
        <div class="card-icon-section">
          <div class="card-icon-cover">
            <img src="/assets/images/withdrawal.svg" />
          </div>
        </div>
        <div>
          <div class="card-title">Withdrawal</div>
          <div class="card-title-detail">
            Withdraw money from your bank account
          </div>
        </div>
      </div>
    </div>
    <div class="card" (click)="gotofundtransfer()">
      <div>
        <div class="card-icon-section">
          <div class="card-icon-cover">
            <img src="/assets/images/self-service.svg" />
          </div>
        </div>
        <div>
          <div class="card-title">Funds Transfer</div>
          <div class="card-title-detail">
            Transfer funds to another account
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->

    <!-- <div style="display: flex;"> -->
    <div class="card" (click)="gotoCustomerService()">
      <div>
        <div class="card-icon-section">
          <div class="card-icon-cover">
            <img src="/assets/images/self-service.svg" />
          </div>
        </div>
        <div>
          <div class="card-title">Self Service</div>
          <div class="card-title-detail">
            Check your account balance, transaction history, etc
          </div>
        </div>
      </div>
    </div>

    <div class="card" (click)="gotoEnquiries()">
      <div>
        <div class="card-icon-section">
          <div class="card-icon-cover">
            <img src="/assets/images/enquiries.svg" />
          </div>
        </div>
        <div>
          <div class="card-title">Enquiries</div>
          <div class="card-title-detail">
            Chat with our customer service, get your account manager information
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
