<ion-header>
  <ion-toolbar style="text-align: center;">
    Self Service
  </ion-toolbar>
</ion-header>
<ion-content>
  <div
    style="
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    "
  >
  <div class="card" (click)="goto('self-service/request-card')">
    <div>
      <div class="card-icon-section">
        <div class="card-icon-cover">
          <img src="/assets/images/request-debit-card.svg" />
        </div>
      </div>
      <div>
        <div class="card-title">Request Debit Card</div>
        <div class="card-title-detail">
          Request for a new MasterCard or Visa Card
        </div>
      </div>
    </div>
  </div>
<div class="card" (click)="goto('')">
    <div>
      <div class="card-icon-section">
        <div class="card-icon-cover">
          <img src="/assets/images/Cheque book.svg" />
        </div>
      </div>
      <div>
        <div class="card-title">Cheque Book</div>
        <div class="card-title-detail">
          Request for cheque book
        </div>
      </div>
    </div>
  </div>
<div class="card" (click)="goto('')">
    <div>
      <div class="card-icon-section">
        <div class="card-icon-cover">
          <img src="/assets/images/dispense-error-resolution.svg" />
        </div>
      </div>
      <div>
        <div class="card-title">Dispense Error Resolution</div>
        <div class="card-title-detail">
          Resolve your dispense issues here
        </div>
      </div>
    </div>
  </div>
<div class="card" (click)="goto('')">
    <div>
      <div class="card-icon-section">
        <div class="card-icon-cover">
          <img src="/assets/images/token.svg" />
        </div>
      </div>
      <div>
        <div class="card-title">Token</div>
        <div class="card-title-detail">
          Manage account token
        </div>
      </div>
    </div>
  </div>
<div class="card" (click)="goto('')">
    <div>
      <div class="card-icon-section">
        <div class="card-icon-cover">
          <img src="/assets/images/account-update.svg" />
        </div>
      </div>
      <div>
        <div class="card-title">Account Update</div>
        <div class="card-title-detail">
          Update your acount details
        </div>
      </div>
    </div>
  </div>
<div class="card" (click)="goto('')">
    <div>
      <div class="card-icon-section">
        <div class="card-icon-cover">
          <img src="/assets/images/account-activation.svg" />
        </div>
      </div>
      <div>
        <div class="card-title">Account Activation</div>
        <div class="card-title-detail">
          Activate your account here
        </div>
      </div>
    </div>
  </div>
</div>
</ion-content>