ion-content{
    --background: url('/assets/images/dashboard_bg.png') 0 0/100% 100% no-repeat;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
}

.menu-item {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin: 10px;      
  border-radius: 3px;
  width: 100%;
  height: 125px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  background-color:rgba(0,0,0, 0.38);
  color: rgba(255,255,255, 1);
  border-radius: 10px;
}

.dashboard-menu {
  margin: 0px;
}
.menu-item a{
  color: rgba(255,255,255, 1);
}
.menu-item img{
  height: 4rem;
 
}