<ion-content>
  <div style="position: absolute;top: 70px; display: flex; justify-content: center;align-items: center; width: 100%;">
    <img src="assets/images/dashboard_upper_logo.png" style="width: 9rem;">
  </div>
<div style="padding:25px; position:absolute;top: 120px; width: 100%">
  <ion-row class="dashboard-menu">
    <ion-col col-6 class="menu-item " >
      <a href="javascript:void(0)" (click)="popdeposittype()" style="color: #ffffff;">
    
      <img src="assets/images/deposit_icon.png">
  
    </a>
    </ion-col>
    <ion-col col-6 class="menu-item " >
      <a href="javascript:void(0)" (click)="popwithdrawltype()" style="color: #ffffff;">
    
        <img src="assets/images/withdrawal_icon.png">
    
      </a>
    </ion-col>
    </ion-row>
    <ion-row class="dashboard-menu">
      <ion-col col-6 class="menu-item " >
        <a routerLink="/fundtransfer" style="color: #ffffff;">
      
        <img src="assets/images/funds_icon.png">
    
      </a>
      </ion-col>
      <ion-col col-6 class="menu-item " >
        <a routerLink="/enquiries" [queryParams]="{toPage: '/self-service'}" style="color: #ffffff;">
      
          <img src="assets/images/selfservice_icon.png">
      
        </a>
      </ion-col>
      </ion-row>
      <ion-row class="dashboard-menu">
        <ion-col size="5.3" class="menu-item " >
          <a routerLink="/enquiries" [queryParams]="{toPage: '/selfservice'}" style="color: #ffffff;">
        
          <img src="assets/images/enquiries_icon.png">
      
        </a>
        </ion-col>
        <!-- <ion-col col-6 class="menu-item " >
          <a routerLink="/localdelivery/bookingoptions" style="color: #ffffff;">
        
            <img src="assets/images/withdrawal_icon.png">
        
          </a>
        </ion-col> -->
        </ion-row>
  </div>
</ion-content>
