<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <img src="assets/images/back_btn.png" style="width: 2rem;">    
        </ion-button>
      </ion-buttons>
      <ion-title>Transfer Summary</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngIf="transfer.transferType == 'Funds Transfer'" style="margin: 12px; background-color: rgba(0,0,0, 0.38);color: #fff;">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" style="border-bottom:1px solid rgb(255,255,255,0.20);">
          <span style="font-size: 16px; font-weight: normal;">Beneficiary Details:</span>
        </ion-col>         
        </ion-row>
      </ion-grid>

      <ion-grid >
        <ion-row  >
          <ion-col size="12" style="border-bottom:1px dashed rgb(255,255,255,0.20);">
            <span style="font-size: 14px; font-weight: normal;">
          <small style="float: left;">Swift:</small> 
          <small style="float: right;">Account Number</small> <br>

          <small style="float: left;">{{transfer.swiftCode}}</small> 
          <small style="float: right;">{{transfer.toAccountNo}}</small> </span><br>
          <small>Sort Code:</small><br>
            <span style="font-size: 14px; font-weight: normal;">{{transfer.routingNumber}}</span>
          </ion-col>         
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col size="12" style="border-bottom:1px solid rgb(255,255,255,0.20);">
          <span style="font-size: 16px; font-weight: normal;">Correspondent Details:</span>
        </ion-col>         
        </ion-row>
      </ion-grid>
   
      <ion-grid >
        <ion-row>
          <ion-col size="12" style="border-bottom:1px dashed rgb(255,255,255,0.20);">
     
            <span style="font-size: 14px; font-weight: normal;">
          <small style="float: left;">Swift:</small> 
          <small style="float: right;">Account Number</small> <br>
          <small style="float: left;">{{transfer.correspondentSwiftCode}}</small> 
          <small style="float: right;">{{transfer.accountNo}}</small> </span><br>
          <small>Sort Code:</small><br>
            <span style="font-size: 14px; font-weight: normal;">{{transfer.correspondentRoutingNumber}}</span>
          </ion-col>        
        </ion-row>  

        <ion-row>
          <ion-col size="12"  style="border-bottom:1px solid rgb(255,255,255,0.20);">
            <small>Amount:</small> <br>
            <span style="font-size: 18px; font-weight: bold;">{{transfer.amount}}</span> 
          </ion-col>
       
        </ion-row>  
        <ion-row>
          <ion-col size="12" >
           
            <span style="font-size: 14px; font-weight: normal;">{{transfer.narration}}</span> 
          </ion-col>
       
        </ion-row>
        
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="transfer.transferType != 'Funds Transfer'" style="margin: 12px; background-color: rgba(0,0,0, 0.38);color: #fff;">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" style="border-bottom:1px solid rgb(255,255,255,0.20);">
          <span style="font-size: 16px; font-weight: normal;">Debit Details:</span>
        </ion-col>         
        </ion-row>
      </ion-grid>

      <ion-grid >
        <ion-row  >
          <ion-col size="12" style="border-bottom:1px dashed rgb(255,255,255,0.20);">
            <small>Account Details</small><br>
            <span style="font-size: 14px; font-weight: normal;">{{transfer.accountNo}}</span><br>
            <span style="font-size: 14px; font-weight: normal;">{{transfer.accountName}}</span>
          </ion-col>         
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col size="12" style="border-bottom:1px solid rgb(255,255,255,0.20);">
          <span style="font-size: 16px; font-weight: normal;">Beneficiary Account:</span>
        </ion-col>         
        </ion-row>
      </ion-grid>
      <ion-grid >
        <ion-row>
          <ion-col size="12"  style="border-bottom:1px solid rgb(255,255,255,0.20);">
            <small>Account Details:</small> <br>
            <span style="font-size: 16px; font-weight: bold;">{{transfer.toAccountNo}}</span> <br>
            <span style="font-size: 16px; font-weight: normal;">{{transfer.toAccountName}}</span><br>
            <span style="font-size: 16px; font-weight: normal;">{{transfer.tobank}}</span>
          </ion-col>
       
        </ion-row>  

        <ion-row>
          <ion-col size="12"  style="border-bottom:1px solid rgb(255,255,255,0.20);">
            <small>Amount:</small> <br>
            <span style="font-size: 18px; font-weight: bold;">{{transfer.amount}}</span> 
          </ion-col>
       
        </ion-row>  
        <ion-row>
          <ion-col size="12" >
           
            <span style="font-size: 14px; font-weight: normal;">{{transfer.narration}}</span> 
          </ion-col>
       
        </ion-row>  
        
      </ion-grid>
    </ion-card-content>
  </ion-card>





  <ion-row>
    <ion-col size="6">
      <ion-button style="color: #fff;" expand="block" (click)="goBack()"  fill="outline">
  Edit
      </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="submit()"  shape="round" fill="solid" expand="block" class="btnStyle">
          Proceed
        </ion-button>
      </ion-col>
      </ion-row>

</ion-content>



<app-processing 
  *ngIf="showProcessing"
  (buttonClick)="processingButtonClicked()"
  [processCompleted]="processCompleted"
  >
  <span processed-title>
    <!-- Print Receipt -->
  </span>
  <span processed-detail style="display: flex;justify-content: center;color: #fff;text-align: center;font-weight: normal;align-items: center;">
    Your Fund has been sent
  </span>
  <span processing-title>
    <!-- Request Submitted -->
  </span>
  <span processing-detail style="display: flex;justify-content: center;color: #fff;text-align: center;font-weight: normal;align-items: center;">
    Your Transaction is being processed
  </span>
</app-processing>
