

<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <img src="assets/images/back_btn.png" style="width: 2rem;">          
        </ion-button>
      </ion-buttons>
      <ion-title>Cheque Withdrawal</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="page-wrapper">
    <ion-row>
      <ion-col size="12">
        <div class="form-group">
          <div style="padding: 10px;"></div>
          <ion-label class="justifyCenter">Enter Account Number</ion-label>
          <div style="padding: 5px;"></div>        
          <ion-input type="tel" style="color: #fff;"  [(ngModel)]="accountNo"  placeholder="Account Number" (keyup)="inpVali.validate($event,'accountNumber')" required></ion-input>
          <span *ngIf="inpVali.invalidAccount"><small class="error">Invalid Account Number</small></span>
        </div>
      </ion-col>
    </ion-row>
    <div style="padding: 10px;"></div>
  <ion-row>
    <ion-col size="12" style="padding: 20px">
      <ion-button  [disabled]="formGroup.invalid || loadingAccountName" (click)="submit()" shape="round" fill="solid" expand="block" class="btnStyle">
        <span >Proceed</span>
      
      </ion-button>
      <div style="padding: 10px;"></div>
    </ion-col>
  </ion-row>
  
  </div>
</ion-content>
