

<ion-content>
  <form name="depositForm" id="depositForm" #depositForm="ngForm">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <img src="assets/images/back_btn.png" style="width: 2rem;">          
        </ion-button>
      </ion-buttons>
      <ion-title>Cash Deposit</ion-title>
    </ion-toolbar>
  </ion-header>

<div class="page-wrapper">
  
  <ion-row>
    <ion-col size="12">
      <div class="form-group">
        <div style="padding: 10px;"></div>
        <ion-label class="justifyCenter">Enter Account Number</ion-label>
        <ion-input  type="tel" [(ngModel)]="depositObj.accountNumber" name="accountNumber" id="accountNumber" #accountNumber="ngModel" placeholder="Enter account number here" (keyup)="inpVali.validate($event,'accountNumber')" required></ion-input>
        <span *ngIf="inpVali.invalidAccount"><small class="error">Invalid Account Number</small></span>
        </div>
    </ion-col>
  </ion-row>
<ion-row>
  <ion-col size="12" style="padding: 20px">
    <ion-button [disabled]="depositForm.invalid || loadingBankAccount" (click)="submitRequest(depositObj)" shape="round" fill="solid" expand="block" class="btnStyle">
    <span *ngIf="!loadingBankAccount">Next</span>
    <span *ngIf="loadingBankAccount">Loading bank details ...</span>
    </ion-button>
    <div style="padding: 10px;"></div>
  </ion-col>
</ion-row>

</div>
<div class="page-wrapper" style="margin-top:5px">
  <ion-row>
    <ion-col size="12" style="padding: 20px">
      <ion-button (click)="addDeposit()"  fill="clear" expand="block" style="color: #ffffff;">
        <span style="font-size: 18px;font-weight: bold;">Multiple Deposit</span>
      </ion-button>
    </ion-col>
  </ion-row>
</div>
</form>



</ion-content>
<ion-footer class="ion-no-border justifyCenter" >

</ion-footer>