

<ion-content>

  <ion-header class="ion-no-border" >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <img src="assets/images/home_btn.png" style="width: 2rem;">    
        </ion-button>
      </ion-buttons>
      <ion-title>
        <img src="assets/images/dashboard_upper_logo.png" style="width: 7rem;">
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main">
    <div  style="padding:20px"></div>
    <div class="page-wrapper">
      <ion-row>
        <ion-col size="12" style="border-bottom:1px solid rgb(255,255,255,0.20);text-align: center;">
        <span style="font-size: 16px; font-weight: normal; ">Done...</span>       
        </ion-col>
      </ion-row>
      <div style="margin: 30px; display: flex;justify-content: center;" >
        <div>
          <img src="assets/images/trx_successful.png" style="width: 5rem;">    
        </div>
      
      </div>
      <div style="padding: 5px;"></div>

      <span style="display: flex;justify-content: center;color: #fff;text-align: center;font-weight: normal;align-items: center;">
       Thank you for banking with us
      </span>
      <div style="padding: 10px;"></div>
    </div>
  </div>

  <ion-row>
    <ion-col style="display: flex;justify-content: center;">
      <ion-button class="btnStyle" shape="round" (click)="popwithdrawltype()" style="color: #00CECE;width: 177px;" >
        New Withdrawal
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="display: flex;justify-content: center;">
      <ion-button   shape="round"  (click)="goBack()" style="color: #fff; font-weight: normal;--background: rgb(0,0,0,0.38);width: 177px;" >
        <ion-icon name="home-outline"></ion-icon> &nbsp;Back to home
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
