.content-main{
    background: url('/assets/images/dashboard_bg.png') 0 0/100% 100% no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main{
    height: 100vh; 
    display: flex; 
    // justify-content: center; 
    align-items: center; 
    flex-direction: column;
  
}
ion-spinner {
    transform: scale(3);
}

