<div class="content-main">


<ion-header class="ion-no-border" *ngIf="processCompleted">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <img src="assets/images/home_btn.png" style="width: 2rem;">    
      </ion-button>
    </ion-buttons>
    <ion-title>Transaction Details</ion-title>
  </ion-toolbar>
</ion-header>
<div class="main">
<div *ngIf="!processCompleted" style="padding:60px"></div>
<!-- <div *ngIf="processCompleted" style="padding:10px"></div> -->
  <div class="page-wrapper">
  
  <div style="width: 70vw;">
    <ion-row>
      <ion-col size="12" style="border-bottom:1px solid rgb(255,255,255,0.20);text-align: center;">
      <span *ngIf="!processCompleted" style="font-size: 16px; font-weight: normal; ">Processing...</span>
      <span *ngIf="processCompleted" style="font-size: 16px; font-weight: normal; "> Successful</span>
      </ion-col>
    </ion-row>
  <div style="margin: 30px; display: flex;justify-content: center;" >
    
    <ion-spinner name="bubbles" *ngIf="!processCompleted" ></ion-spinner>
    
    <div *ngIf="processCompleted">
      <img src="assets/images/trx_successful.png" style="width: 5rem;">    
     
    </div>
  </div>

  <div style="margin: 10px;">
    <ion-label color='primary' style="font-size: 20px; font-weight: bold;">
      <ng-content *ngIf="processCompleted" select="[processed-title]"></ng-content>
      <ng-content *ngIf="!processCompleted" select="[processing-title]"></ng-content>
    </ion-label></div>
  <div style="font-size: 15px;">
    <!-- <ng-content *ngIf="processCompleted && (cashWithdrawal && !cashColleted)" select="[processed-detail]"></ng-content> -->
    <ng-content *ngIf="processCompleted" select="[processed-detail]"></ng-content>
    <ng-content *ngIf="!processCompleted" select="[processing-detail]"></ng-content>
  </div>
  </div>
  <div style="margin: 10px; width: 70vw;">
    <!-- <ion-button class="btnStyle" *ngIf="processCompleted" (click)="buttonClick.emit()" expand='block' >{{successButtonText}}</ion-button>
    <div style="padding: 5px;"></div> -->
    <!-- <ion-button *ngIf="processCompleted" (click)="buttonClick.emit()" expand='block' fill="outline" style="color: #fff;">Receipt to Email</ion-button> -->
    <ng-content *ngIf="processCompleted" select="[other-deposit]"></ng-content>
    <div style="padding: 5px;"></div>
    <!-- <ion-button *ngIf="processCompleted" (click)="buttonClick.emit()" expand='block' fill="outline" style="color: #fff;">Print Receipt</ion-button>  -->
    <div style="padding: 5px;"></div>
    <ion-button *ngIf="processCompleted" (click)="buttonClick.emit()" expand='block' fill="outline" style="color: #fff;">Ok</ion-button>
  </div>
</div>

<!-- <div style="margin: 12px;padding: 10px; display: flex;" class="justifyCenter" *ngIf="(cashWithdrawal && !cashColleted) && processCompleted">
  <img src="assets/images/cashCollected.png" style="height: 5rem;cursor: pointer;" (click)="confirmCashCollected()">

</div> -->

</div>
</div>