<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-circle" class="iconstyle1" style="color: #4895CE;
        ;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Deposit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form name="depositForm" id="depositForm" #depositForm="ngForm">

 
  <div class="form-group" >
    <ion-label>
      Account Number
    </ion-label>
    <ion-input type="tel" [(ngModel)]="depositObj.accountNumber" name="accountNumber" id="accountNumber" #accountNumber="ngModel" placeholder="Account Number" (keyup)="inpVali.validate($event,'accountNumber')" required></ion-input>
    <span *ngIf="inpVali.invalidAccount"><small class="error">Invalid Account Number</small></span>
  </div>
  <div class="form-group" *ngIf="intrusmntType == 'Cheque'">
    <ion-label>
      Bank Name
    </ion-label>
    <ion-select placeholder="Bank Name" [(ngModel)]="depositObj.bankName" name="bankName" id="bankName" #bankName="ngModel">
      <ion-select-option>Lotus Bank</ion-select-option>
      <ion-select-option>First Bank of Nigeria</ion-select-option>
      <ion-select-option>Zenith Bank</ion-select-option>
    </ion-select>

  </div>
  <div class="form-group" *ngIf="intrusmntType == 'Cheque'">
    <ion-label>
     Cheque Number
    </ion-label>
    <ion-input placeholder="Cheque Number" [(ngModel)]="depositObj.chqNumber" name="chqNumber" id="chqNumber" #chqNumber="ngModel"></ion-input>
  </div>
  <div class="form-group" >
    <ion-label>
      <span *ngIf="intrusmntType == 'Cheque'">Total Amount on Cheque</span>
      <span *ngIf="intrusmntType == 'cash'">Amount</span>
    </ion-label>
    <ion-input type="tel" placeholder="0.00" (keyup)="inpVali.validate($event,'amount')" [(ngModel)]="depositObj.amount" name="amount" id="amount" #amount="ngModel" required ></ion-input>
    <ion-label *ngIf="!inpVali.invalidAccount"></ion-label>
    <span *ngIf="inpVali.invalidAmount"><small class="error">Invalid Amount</small></span>
  </div>
</form>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button [disabled]="depositForm.invalid || loadingBankAccount" (click)="submitRequest(depositObj)" expand="block" >
    <span *ngIf="!loadingBankAccount">Proceed</span>
    <span *ngIf="loadingBankAccount">Loading bank details ...</span>
  </ion-button>
</ion-footer>