<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-circle" class="iconstyle1" style="color: #4895CE;
        ;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Deposit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-group">
    <ion-label>
      Account Number
    </ion-label>
    <ion-input style="border: 1px solid black; border-radius: 2px;"></ion-input>
  </div>
  <div class="form-group">
    <ion-label>
      Account Name
    </ion-label>
    <ion-input style="border: 1px solid black; border-radius: 2px;"></ion-input>
  </div>
  <div class="form-group">
    <ion-label>
      Amount
    </ion-label>
    <ion-input style="border: 1px solid black; border-radius: 2px;"></ion-input>
  </div>
</ion-content>

<ion-footer>
  <ion-button expand="block" [routerLink]="['/deposit/depositor-detail']">Proceed</ion-button>
</ion-footer>