

<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goback()">
          <img src="assets/images/back_btn.png" style="width: 2rem;">   
        </ion-button>
      </ion-buttons>
      <ion-title class="headertitle" >Verification </ion-title>
    </ion-toolbar>
  </ion-header>
  <div style="padding-top:20px;"></div>
  <div style="padding: 10px;">
    <div style="padding: 20px;"></div>
    <div style="color: #ffff;text-align: left;">
      <div class="txt">
        <p>Phone Verification </p>
        <h4>Enter your OTP code</h4>

       <p>Enter the 6-digit code sent to you at {{currentPhoneNumber}}. </p>
      </div>
      </div>    
 

      <div style="padding:10px;"></div>
      <form name="regForm" id="regForm" #regForm="ngForm">  
        <ion-row >
          <ion-col size=2>
            <ion-input #smscode1 placeholder="0" type="tel" maxlength="1" (keyup)="codeValidation(smscode2,'code1',smscode1.value)" name="code1" [(ngModel)]="code1" required ></ion-input>
           </ion-col>
           <ion-col size=2>
            <ion-input #smscode2 placeholder="0" type="tel" maxlength="1" name="code2" (keyup)="codeValidation(smscode3,'code2',smscode2.value)" [(ngModel)]="code2" required ></ion-input>
           </ion-col>
           <ion-col size=2>
            <ion-input #smscode3 placeholder="0" type="tel" maxlength="1" name="code3" (keyup)="codeValidation(smscode4,'code3',smscode3.value)"  [(ngModel)]="code3" required ></ion-input>
           </ion-col>
           <ion-col size=2>
            <ion-input #smscode4 placeholder="0" type="tel" maxlength="1" name="code4" (keyup)="codeValidation(smscode5,'code4',smscode4.value)" [(ngModel)]="code4" required ></ion-input>
           </ion-col>
           <ion-col size=2>
            <ion-input #smscode5 placeholder="0" type="tel" maxlength="1" name="code5" (keyup)="codeValidation(smscode6,'code5',smscode5.value)" [(ngModel)]="code5" required ></ion-input>
           </ion-col>
           <ion-col size=2>
            <ion-input #smscode6 placeholder="0" type="tel" maxlength="1" name="code6" (keyup)="codeValidation(smscode1,'code6',smscode6.value)" [(ngModel)]="code6" required ></ion-input>
           </ion-col>

        </ion-row>
         <div style="padding: 5px;"></div>
   
          <ion-button [disabled]="regForm.invalid" (click)="verifyOTP()"  class="pryColor"  expand="block" >Verify OTP</ion-button>

          <div style="padding: 5px;"></div>
          <div style="color: #303030;text-align: center;">
            <div class="txt">              
             <p style="text-align: center;">Didn't get the SMS? <a href="javascript:void(0)" (click)="sendOTP()">Resend</a></p>
            </div>
            </div> 
            
           
      </form>
 
  </div>
</ion-content>
