
<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <img src="assets/images/back_btn.png" style="width: 2rem;">    
        </ion-button>
      </ion-buttons>
      <ion-title>Deposit Details</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card style="margin: 12px; background-color: rgba(0,0,0, 0.38);color: #fff;">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" style="border-bottom:1px solid rgb(255,255,255,0.20);">
          <span style="font-size: 16px; font-weight: normal;">Account Details:</span>
        </ion-col>         
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="depositObj.multiDeposit">
        <ion-row *ngFor="let dep of depositObj.accountInfo" >
          <ion-col size="12" style="border-bottom:1px dashed rgb(255,255,255,0.20);">
            <span style="font-size: 14px; font-weight: normal;">{{dep.accountName}} - {{dep.accountNumber}}</span><br>
            <span style="font-size: 14px; font-weight: normal;">N{{dep.amount}}</span>
          </ion-col>         
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="depositObj.singleDeposit">
        <ion-row>
          <ion-col size="12"  style="border-bottom:1px solid rgb(255,255,255,0.20);">
            <span style="font-size: 16px; font-weight: bold;">{{depositObj.accountName}}</span> <br>
            <span style="font-size: 16px; font-weight: normal;">{{depositObj.accountNumber}}</span>
          </ion-col>
       
        </ion-row>

        <ion-row>
          <ion-col size="12" style="font-size: 12px; font-weight: normal;border-bottom:1px solid rgb(255,255,255,0.20);">Amount: <br>
            <span style="font-size: 16px; font-weight: normal;">N{{depositObj.amount}}</span>
          </ion-col>
        
        </ion-row>      

        <ion-row *ngIf="depositObj.singleDeposit && depositObj.selfdeposit == 'ownaccount'">
          <ion-col size="12" style="font-size: 12px; font-weight: normal;">
            <span style="font-size: 16px; font-weight: normal;">{{depositObj.narration}}</span>
          </ion-col>
        
        </ion-row>   
        
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card  *ngIf="depositObj.multiDeposit || depositObj.selfdeposit == 'otheraccount'" style="margin: 12px; background-color: rgba(0,0,0, 0.38);color: #fff;">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" style="border-bottom:1px solid rgb(255,255,255,0.20);">
            <span style="font-size: 16px; font-weight: normal;">Depositor Details:</span></ion-col>         
        </ion-row>
        <ion-row>         
          <ion-col size="12" style="border-bottom:1px solid rgb(255,255,255,0.20);">
            <span style="font-size: 16px;font-weight: bold;">{{depositObj.depositorFullname}}</span> <br>
            <span style="font-size: 14px;">{{depositObj.depositorEmail}}</span><br>
            <span style="font-size: 14px;">{{depositObj.depositorPhoneNumber}}</span>
          
          </ion-col>
        </ion-row>
        <ion-row>    
          <ion-col size="12" style="font-size: 14px; ">{{depositObj.narration}}</ion-col>          
        </ion-row>        
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col size="6">
      <ion-button (click)="goedit()"  shape="round" fill="outline" expand="block" style="--border-color: #00CECE; color: #fff !important;">
        Edit
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="submit()"  shape="round" fill="solid" expand="block" class="btnStyle">
        Proceed
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>


<app-processing *ngIf="showProcessing" (buttonClick)="processingButtonClicked()" (click)="processingClicked()" [processCompleted]="processCompleted">
  <span processed-title style="display: flex;justify-content: center;color: #fff;text-align: center;font-weight: normal;align-items: center;">
    Your deposit has been posted.
  </span>
  <span processed-detail>
    <!-- Transaction Successful -->
  </span>
  <span processing-title style="display: flex;justify-content: center;color: #fff;text-align: center;font-weight: normal;align-items: center;">
    Your Transaction is being processed, 
    Please hand cash over to Teller
  </span>
  <span processing-detail>
    <!-- Generate Receipt -->
  </span>
</app-processing>