<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-circle" class="iconstyle1" style="color: #4895CE;
        ;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Deposit Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card>
    <ion-card-header color='primary'>
      <span>
        Account Detail
      </span>
      <div class="edit-container">
        <div>
          <ion-icon name="pencil-outline"></ion-icon>
        </div>
      </div>
    </ion-card-header>
    <ion-card-content>
      <div class="title-value">
        <span class="title">Account Name</span>
        <span class="value">Oreoluwa Uche H.</span>
      </div>
      <div class="title-value">
        <span class="title">Account Number</span>
        <span class="value">010101010101</span>
      </div>
      <div class="title-value">
        <span class="title">Amount</span>
        <span class="value">1000</span>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header color='primary'>
      <span>
        Depositor Detail
      </span>
      <div class="edit-container">
        <div>
          <ion-icon name="pencil-outline"></ion-icon>
        </div>
      </div>
    </ion-card-header>
    <ion-card-content>
      <div class="title-value">
        <span class="title">Name</span>
        <span class="value">Oreoluwa Uche H.</span>
      </div>
      <div class="title-value">
        <span class="title">Phone Number</span>
        <span class="value">010101010101</span>
      </div>
      <div class="title-value">
        <span class="title">Email Address</span>
        <span class="value">1000</span>
      </div>
      <div class="title-value">
        <span class="title">Comment</span>
        <span class="value">1000</span>
      </div>
    </ion-card-content>
  </ion-card> -->

  <ion-card style="margin: 12px; background-color: #E0ECFF;">
    <ion-card-content>
      <ion-grid>
        
        <ion-row>
          <ion-col size="7"><span style="font-size: 12px; color: #000; font-weight: bold;">Account Name:</span></ion-col>
          <ion-col size="5"><span style="font-size: 10px; color: #000;">{{depositObj.depositorFullname}}</span></ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="7" style="font-size: 12px; color: #000; font-weight: bold;">Account Number:</ion-col>
          <ion-col size="5" style="font-size: 10px; color: #000;">{{depositObj.accountNumber}}</ion-col>          
        </ion-row>

        <ion-row>
          <ion-col size="7" style="font-size: 12px; color: #000; font-weight: bold;">Bank:</ion-col>
          <ion-col size="5" style="font-size: 10px; color: #000;">{{depositObj.bankName}}</ion-col>          
        </ion-row>

        <ion-row>
          <ion-col size="7" style="font-size: 12px; color: #000; font-weight: bold;">Amount:</ion-col>
          <ion-col size="5" style="font-size: 10px; color: #000;">&#8358; {{depositObj.amount}}</ion-col>          
        </ion-row>         
        
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card style="margin: 12px; background-color: #E0ECFF;">
    <ion-card-content>
      <ion-grid>
        
        <ion-row>
          <ion-col size="7"><span style="font-size: 12px; color: #000; font-weight: bold;">Depositor Name:</span></ion-col>
          <ion-col size="5"><span style="font-size: 10px; color: #000;">{{depositObj.depositorFullname}}</span></ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="7" style="font-size: 12px; color: #000; font-weight: bold;">Depositor Number:</ion-col>
          <ion-col size="5" style="font-size: 10px; color: #000;">{{depositObj.depositorPhoneNumber}}</ion-col>          
        </ion-row>

        <ion-row>
          <ion-col size="7" style="font-size: 12px; color: #000; font-weight: bold;">Depositor Email:</ion-col>
          <ion-col size="5" style="font-size: 10px; color: #000;">{{depositObj.depositorEmail}}</ion-col>          
        </ion-row>

        <ion-row>
          <ion-col size="7" style="font-size: 12px; color: #000; font-weight: bold;">Naration:</ion-col>
          <ion-col size="5" style="font-size: 10px; color: #000;">{{depositObj.narration}}</ion-col>          
        </ion-row>        
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button expand="block" (click)="submit()">
    Confirm
  </ion-button>
</ion-footer>

<app-processing *ngIf="showProcessing" (buttonClick)="processingButtonClicked()" (click)="processingClicked()" [processCompleted]="processCompleted">
  <span processed-title>
    Request Submitted
  </span>
  <span processed-detail>
    Transaction Successful
  </span>
  <span processing-title>
    Please hand cash over to Teller
  </span>
  <span processing-detail>
    <!-- Generate Receipt -->
  </span>
</app-processing>