<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <img src="assets/images/back_btn.png" style="width: 2rem;">          
        </ion-button>
      </ion-buttons>
      <ion-title>Cash Deposit</ion-title>
    </ion-toolbar>
  </ion-header>


  <div  class="page-wrapper" >
    <div *ngFor="let dep of depositMultpleObj.accountInfo; let i = index" style="width: 100%;border:1px solid #ffffff;border-radius: 4px; padding:5px;margin-top:10px">
      <ion-row>
        <ion-col size="12">
          <span style="float: right;" (click)="removeItem(i)">
            <ion-icon name="close-outline"></ion-icon>
          </span>
          <div class="form-group">
            <div style="padding: 10px;"></div>
            <ion-label>Account Number</ion-label>
            <ion-input style="text-align: left;"  type="tel" [(ngModel)]="dep.accountNumber" name="accountNumber"  placeholder="Enter account number here" (keyup)="avalidate($event,'accountNumber',i)" required></ion-input>
            <span *ngIf="dep.erroraccountNumber"><small class="error">Invalid Account Number</small></span>
            </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="form-group">
            <div style="padding: 10px;"></div>
            <ion-label>Amount</ion-label>
            <ion-input style="text-align: left;"  type="tel" [(ngModel)]="dep.amount" name="amount"  placeholder="Enter amount" (keyup)="avalidate($event,'amount',i)" required></ion-input>
            <span *ngIf="dep.erroramount"><small class="error">Invalid Amount</small></span>
            </div>
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="addDeposit()"  fill="clear" expand="block" >
          <img src="assets/images/addmoredeposit_btn.png" style="width: 10rem;">
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" style="padding:5px 20px 20px 20px">
        <ion-button  (click)="validateForm()" shape="round" fill="solid" expand="block" class="btnStyle">
        <span *ngIf="!loadingBankAccount">Next</span>
        <span *ngIf="loadingBankAccount">Loading ...</span>
        </ion-button>
        <div style="padding: 10px;"></div>
      </ion-col>
    </ion-row>
    </div>
</ion-content>
