<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <img src="assets/images/back_btn.png" style="width: 2rem;">          
        </ion-button>
      </ion-buttons>
      <ion-title>Generate Statement</ion-title>
    </ion-toolbar>
  </ion-header>
  <div  class="page-wrapper">
    <ion-row style="display: flexbox; justify-content: center; margin: 30px 10px;">

        <ion-label style="padding-bottom: 10px;">Enter email to send statement to:</ion-label>
       <ion-input type="email" name="email" placeholder="Enter your email here"></ion-input>
      </ion-row> 

    <div style="text-align:center;z-index:1000; width:100%;">
      <div style="padding-top:10px;"></div>
      <ion-button routerLink="/selfservice/generatestatement/summary" color="light" shape="round" style="color: #000000; font-weight: bold; width: 187px;">
        PROCEED
      </ion-button>
      </div>
    </div>

   