<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon name="arrow-back-circle" class="iconstyle1" style="color: #4895CE;
        ;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Account Login</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="padding: 15px 15px 0 15px">
      <ion-col size="8">
        <ion-label>Account Number or BVN</ion-label>
          <div style="padding: 5px;"></div>
         
            <ion-input type="text" placeholder="Enter Account Number here" style="font-size: 12px;"></ion-input>
          
      </ion-col>     
  </ion-grid>

</ion-content>

<ion-footer class="ion-no-border">
        <ion-button expand="full" style="background-color: #4895CE;" (click)="submit()">Proceed</ion-button>
</ion-footer>
