<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon name="arrow-back-circle" class="iconstyle1" style="color: #4895CE;
        ;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Password</ion-title>
    <!-- <div style="display: flex; flex-direction: column; float: right;">
      <span style="font-size: 8px;">10:10AM</span>
    <span style="font-size: 8px;">Monday, 12th October, 2020</span>
    </div> -->

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="padding: 15px 15px 0 15px">
    <ion-col size="8">
      <ion-label>Enter Password</ion-label>
        <div style="padding: 5px;"></div>
    
          <ion-input type="text" placeholder="Password"></ion-input>
        
    </ion-col>

    <ion-row style="display: flex; justify-self: center; justify-content: center; align-items: center; flex-direction: column;">
      <ion-col size="12" style="display: flex; justify-items: center; flex-direction: column; align-items: center;">
        <span>
          <ion-icon name="finger-print" style="color: #4895CE; font-size: 50px;"></ion-icon>
        </span>
        <span style="display: block;text-align:center"> Or place your finger on the fingerprint device</span>
      </ion-col>
    </ion-row>
    
</ion-grid>

</ion-content>

<ion-footer class="ion-no-border">
        <ion-button expand="full" style="background-color: #4895CE;" (click)="submit()">Proceed</ion-button>
</ion-footer>
