<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar style="display: flexbox; justify-content: center;">
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon name="home-outline" style="border-radius: 50%; margin-right: 55px; background: #fff; font-size: 25px; padding: 5px;"></ion-icon>          
        </ion-button>
      </ion-buttons>
      <div style="display: flexbox; align-items: center; justify-content: center; border: 5px red;">
        <ion-img routerLink="['/dashbord']" src="assets/images/bank_logo.png" style="width: 60px; height: 60px;"></ion-img>
      </div>
    </ion-toolbar>
  </ion-header>

  <div  class="page-wrapper">
    <header style="text-align:center;">Done...</header><br>
    <hr class="icons" style="height:2px; color: rgb(255,255,255,.3); background-color: rgb(255,255,255,.3)"><br>
     
    <ion-row style="display: flexbox; justify-content: center; margin: 30px 30px;">  
      <ion-row>
        <ion-img routerLink="['/selfservice']" src="assets/images/trx_successful.png" class="icons"></ion-img>
      </ion-row>
    </ion-row>
    <ion-row style="margin-bottom: 20px;">
      <span style="text-align: center;">
        Thank you for banking with us
      </span>
    </ion-row>
    </div>

  <div style="text-align:center;z-index:1000; width:100%;">
    <div style="padding-top:10px;"></div>
    <ion-button routerLink="/selfservice" color="light" class="my-button" shape="round" style="color: #000000; font-weight: bold;">
      New Enquiry
    </ion-button>
    <ion-button fill="clear" routerLink="/dashbord" shape="round" expand="block" class="my-button"><ion-icon name="home-outline" style="font-size: 16px; padding: 3px;"></ion-icon>
      Back to Home
    </ion-button>
    </div>