<ion-content>
  <app-processing *ngIf="showProcessing" (buttonClick)="processingButtonClicked()" (click)="processingClicked()" [processCompleted]="processCompleted">
    <span processed-title style="display: flex;justify-content: center;color: #fff;text-align: center;font-weight: normal;align-items: center;">
      Please take your cash
    </span>
    <span processed-detail>
      <!-- Transaction Successful -->
    </span>
    <span processing-title style="display: flex;justify-content: center;color: #fff;text-align: center;font-weight: normal;align-items: center;">
      Hand over the cheque to the teller
    </span>
    <span processing-detail style="display: flex;justify-content: center;color: #fff;text-align: center;font-weight: normal;align-items: center; font-size: 12px;">
   Your Transaction is being processed
    </span>
  </app-processing>
</ion-content>
