ion-content{
    --background: url('/assets/images/dashboard_bg.png') 0 0/100% 100% no-repeat;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
}

ion-datetime{
background: rgba(0,0,0,0.38) !important;
  font-size: 18px;
  color: #fff;
  border-radius: 4px !important;
  border: 1px solid#00CECE !important;
}

.pryColor{
  --background: rgba(0,0,0,0.38) !important;
  font-size: 18px;
  color: #fff;
  border-radius: 4px !important;
  border: 1px solid#00CECE !important;
}
.grpRadio{
  --background: transparent;
   --color:#fff;
}
