/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



ion-content>div{
    padding: 10px 15px !important;
}
.card-title{
    font-size: 16px !important;
}
ion-select.border{
    border: 1px solid #eeeff1;
    border-radius: 4px;
    font-size: 12px;
}
ion-button{
    border-radius: 4px !important;
    font-size: 12px;
}
ion-input{
    border-radius: 4px !important;
    border: 1px solid #eeeff1 !important;
    font-size: 12px;
}
ion-label{
    font-size: 14px;
}
ion-title{
    font-size: 14px;  
    text-align: center;
    padding-right: 5px;
}
.form-group > ion-label{
    color: #313131;
    font-size: 14px;
}

.form-group > ion-input{
    margin-top: 4px !important;
}

.cta1 {
    --background:#FFFFFF;
    --color: #707070;
    --border-color:#707070;
    --border-width: 0.5px;
    font-size: 14px;
    display: block;
    --border-radius: 4px;
    opacity: 100%; 
    text-transform: uppercase;
}

#cancel, #confirm {
    display:inline-block;
    width: 100%;
    height:50px;
    padding: 5px;
}

.cta {
    --background:#4895CE;
    --color: #fff;
    font-size: 14px;
    display: block;
    --border-radius: 4px;
    opacity: 100%; 
    text-transform: uppercase;
}

ion-footer{
    padding: 15px;
    background-color: #ffffff;
}
ion-footer > ion-button{
    --border-radius: 4px;
}
ion-datetime{
    font-size: 12px;

}
.error {
    color: #ea6153;
    font-weight: normal;
    text-align: left;
    font-size: 12px;
  }