<ion-content>
  <div style="position: absolute;top: 60px; display: flex; width: 100%; flex-direction: column;">
    <div style="display: flex;justify-content: center;align-items: center;">
      <img src="assets/images/newLotus.png" style="width: 7rem;">
    </div>
  </div>
  <div (click)="printStuff()" *ngIf="mode == 'development'" class="test">THIS IS A TEST BUILD</div>
  <img (click)="setIMEI()" src="assets/icon/transaction.svg" style="margin-left: 40px; margin-top: 20px;">
  <ion-row style="margin-top: 250px;" *ngIf="imeiTrue">
    <ion-col size="12">
      <div class="form-group">
        <div style="padding: 10px;"></div>
        <ion-label class="justifyCenter">Device Number</ion-label>
        <ion-input (ionChange)="onChange()"  type="email" style="color: #fff;" name="imei" id="imei"  [(ngModel)]="imei"  placeholder="Enter Device Number" required></ion-input>
      </div>
    </ion-col>
    </ion-row>


  <div style="position: absolute;bottom: 50px;width:100%;">
    <div style="display:flex;justify-content:center;align-items:center;width:100%; padding: 5px;">
      <ion-button  color="light" (click)="gotostart()" shape="round" style="color: #000000; font-weight: bold; width: 187px;">
        CLICK TO START
      </ion-button>
      </div>
  </div>

 
</ion-content>
