<ion-content>
  <div style="position: absolute;top: 60px; display: flex; width: 100%; flex-direction: column;">
    <div style="display: flex;justify-content: center;align-items: center;">
      <img src="assets/images/newLotus.png" style="width: 7rem;">
    </div>
  </div>


  <div style="position: absolute;bottom: 50px;width:100%;">
    <div style="display:flex;justify-content:center;align-items:center;width:100%; padding: 5px;">
      <ion-button  color="light" (click)="gotostart()" shape="round" style="color: #000000; font-weight: bold; width: 187px;">
        CLICK TO START
      </ion-button>
      </div>
  </div>

 
</ion-content>
